<%= image_tag @skipio_user_info.avatar_image_url %>
<h1><%= @skipio_user_info.first_name %> <%= @skipio_user_info.last_name %></h1>
<h1>Skipio Phone Number: <%= @skipio_user_info.skipio_phone_number %></h1>
<h1>Number of Contacts: <%= @skipio_user_info.contacts_count %></h1>
<h1>Time Zone: <%= @skipio_user_info.time_zone %></h1>
<h1>Unread Messages: <%= @skipio_user_info.unread_count %></h1>


<% @skipio_contacts.each do |contact| %>
  <%= image_tag contact.avatar_url %>
  <h3><%= contact.full_name %></h3>
  <h3><%= contact.email %></h3>
  <h3><%= contact.phone_number %></h3>
<% end %>

